<div class="bar-out">
    <div class="bar-task">
        <h2 style="text-align: center;">My Tasks today</h2>
        <app-task *ngFor=" let list of tasks; index as i" (click)="selected(i)"></app-task>
    </div>
    <button (click)="close()" class="btn btn-danger " style="float: right;"><i class="bi bi-x"></i></button>
    <!--   <ul *ngFor="let p of tasks; index as i">
        <li>ชื่อ :{{item.name}}</li>
        <p>รายละเอียด:{{item.decscription}}</p>
         <button (click)="remove(i)" class="btn btn-danger">ลบข้อมูล</button></li>
    </ul>-->
    <div class="block-input" [class.selected]="isSelected">
        <!-- Email input -->
        <div>
            <label>ชื่อ</label>
            <input type="text" id="name" name="name" #name />
            <br>
            <label>รายละเอียด</label>
            <br>
            <textarea type="text" id="decscription" name="decscription" #decscription></textarea>
            <br>
            <button (click)="add()">ตกลง</button>
        </div>
        <!-- Submit button -->
    </div>
    <div [class.isShow]="isSelected">
        <p>Task:{{tasks[i].id}} {{tasks[i].name}}</p>
        <p>{{tasks[i].decscription}}</p>
    </div>

</div>