.block-input {
    width: 300px;
    display: inline-block;
    border: 1px solid gray;
    text-align: center;
    align-items: center;
}

.block-input a {
    text-decoration: none;
    border: 1px solid black;
    color: black;
}

.bar-out {
    width: 300px;
    display: inline-block;
    border: 1px solid grey;
    background-color: grey;
    margin: 30px;
    align-items: center;
}

.bar-task {
    width: 300px;
    display: inline-block;
    border: 1px solid gray;
    text-align: center;
    align-items: center;
    margin-bottom: 15px;
}